<slide>
  <!-- header -->
  <header>
    <div id="header" class="header">
      <h1 class="tit_h ">설문 조사

      </h1>
      <div class="h_btns">
        <!-- 상단 버튼영역 -->
        <button type="button" v-ripple v-close class="btn_icon btn_prev">
          <i class="ico_arrow_l"></i>
        </button>
        <div class="h_btns_r">
          <button class="btn_icon btn_search" type="button" v-ripple @click="showSearch">
            <i class="ico_search"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- //header -->

  <!-- container -->
  <div id="container" class="container">
    <!-- content -->
    <div class="content scroll_cont" infinite-wrapper>
      <spinner style="width: 15%;margin: 0 auto;height: 100%;" v-if="spin"></spinner>
      <!-- open list -->
      <div class="open_list status_list ">
        <ul class="list ">
          <li v-for="(item, key) in dataList">
            <div class="inner" v-ripple @click="!isCompleted(item) && !isEnded(item.END_DT) && openInAppBrowser(item)">
              <!-- <div class="txt_status">필수과정</div> -->
              <div class="txt_open_list">
                <span class="badge badge_s badge_sty02" v-if="isDeadLine(item.END_DT)">오늘 마감</span>
                <strong class="tit">{{item.TITLE}}</strong>
                <ul class="list">
                  <li>{{formatDate(item.START_DT)}} ~ {{formatDate(item.END_DT)}}</li>
                </ul>
                <!-- badge sty01 : 오렌지색(요청) -->
                <div class="badge_r badge_sty01" v-if="!isCompleted(item) && !isEnded(item.END_DT)">진행</div>
                <!-- badge sty04 : 갈색(승인중) /임시 -->
                <!-- <div class="badge_r badge_sty04" v-else-if="item.APP_STAT_CD==='200'">결재중</div>
                <div class="badge_r badge_sty04" v-else-if="item.APP_STAT_CD==='300'">승인중</div> -->
                <!-- badge sty03 : 빨강색(반려) -->
                <!-- <div class="badge_r badge_sty03" v-else-if="item.APP_STAT_CD==='400'">반려</div> -->
                <!-- 기본(완료) -->
                <div class="badge_r" v-else-if="isCompleted(item)">완료</div>
                <div class="badge_r" v-else-if="isEnded(item.END_DT)">종료</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- //open list -->
    </div>
    <!-- //content -->
  </div>
  <!-- 알림 없을때 화면 -->
  <div class="emp_cont" v-if="!spin && noResult">
    <div class="txt_view">
      <i class="ico_nolist"></i>
      <p class="txt">설문 조사 목록이 없습니다.</p>
    </div>
  </div>
  </div>
  <!-- 검색 버튼 클릭시 나오는 검색영역, 붙는 클래스 : on / 이 영역이 나올때 뒤에 스크롤 안되게 해주세요. -->
  <div class="search_wrap " :class="{on:isSearch}">
    <!-- search_box -->
    <div class="search_box ">
      <ul class="list ">
        <li>
          <div class="tit_list ">
            <label for="w1 " class="tit_lb ">조사기간</label>
          </div>
          <div class="select_group ">
            <label class="input_group" for="w1">
              <!-- 버튼 누르면 캘린더 나오기 -->
              <input id="w1" class="input_text" type="date" v-model="START_DT" @change="checkDate()" />
              <div class="btn_icon">
                <i class="ico_calendar"></i>
              </div>
            </label>
            <span class="txt">~</span>
            <label class="input_group" for="w2">
              <!-- 버튼 누르면 캘린더 나오기 -->
              <input id="w2" class="input_text" type="date" v-model="END_DT" @change="checkDate()" />
              <div class="btn_icon">
                <i class="ico_calendar"></i>
              </div>
            </label>
          </div>
        </li>
        <li>
          <div class="tit_list ">
            <strong class="tit_lb ">제목</strong>
          </div>
          <input type="text " v-model="TITLE" class="input_text input_full " placeholder="설문 제목을 입력하세요. " />
        </li>
      </ul>
      <button type="button" class="btn btn_sty01 btn_l btn_search_m " v-ripple @click="search">조회</button>
    </div>
    <!-- //write_list -->
    <!-- 닫기 버튼 -->
    <button type="button " class="btn_close " v-ripple @click="hideSearch()">
      <i class="ico_x "></i>
    </button>
  </div>

</slide>