<v-touch class="calender_area calendar_area week" v-bind:swipe-options="{ threshold: 0, velocity: 0.1}" v-on:swipedown="onSwipeDown" v-on:swipeleft="onSwipeLeft" v-on:swiperight="onSwipeRight">
  <table class="tbl_calender">
    <colgroup>
      <col style="width:14.3%;" span="6"/>
      <col style="width:auto;"/>
    </colgroup>
    <thead>
    <tr>
      <th v-for="dayName of weekDays"><abbr :title="dayName">{{dayName.substring(0,3)}}</abbr></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="week of calObj">
      <td v-for="day of week">
        <a href="javascript:void(0)" v-if="day.isCurMonth"
           v-bind:class="{'selected01': day.date.toString() === selectedDate, today: day.date.getFullYear() === today.getFullYear() && day.date.getMonth() === today.getMonth() && day.date.getDate() === today.getDate(),  txt_red: day.isHoliday, cal_add:day.hasTask}"
           @click="onSelected(day)">{{day.date.getDate()}}</a>
        <span v-if="!day.isCurMonth" @click="onSelected(day)">{{day.date.getDate()}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</v-touch>
