<slide>
  <!-- header -->
  <header>
    <div id="header" class="header">
      <h1 class="tit_h">만족도 조사
      </h1>
      <div class="h_btns">
        <!-- 상단 버튼영역 -->
        <button type="button" v-ripple v-close class="btn_icon btn_prev">
          <i class="ico_arrow_l"></i>
        </button>

      </div>
    </div>
  </header>
  <!-- //header -->

  <!-- container -->
  <div id="container" class="container">
    <!-- content -->
    <div class="content">
      <!-- btn content/하단 버튼 고정 컨텐츠 클래스 : btn_cont   -->
      <div class="scroll_cont">
        <div class="txt_box desc_box">
          <p>본 설문은, 금번 과정을 평가하고 여러분의 의견을 수렵하여 향후
            <em>더욱 효과적인 교육을 준비하기 위해 실시</em>합니다.</p>
          <p>과정이 종료된 상황에서 교육 전반을 돌아보며 성심껏 답해 주시면 감사하겠습니다.</p>
        </div>
        <div class="tit_box_list survey_list">
          <strong class="tit_all">{{coseServData.COSE_NM}} - {{coseServData.COSE_OPEN_CHA}}</strong>
          <p class="txt_survey">다음 문항을 읽고 자신의 생각과 일치하는 정도를 체크해 주시기 바랍니다.</p>
          <spinner style="width: 15%;margin: 0 auto;height: 100%;" v-if="spin"></spinner>
          <!-- 설문조사 1 -->
          <div v-for="(type, key) in arr">
            <div class="survey_box" :class="{box2 : key>0}" v-for="(item, j) in type">
              <strong class="tit_sur_ctg">{{(item.ITEM_KEY).split('|')[0]}}
                <span v-if="(item.ITEM_KEY).split('|')[2] ==='200' && j===0" class="badge badge_s badge_sty02">{{type.TUTO_NM}} 강사</span>
              </strong>
              <ol class="list" v-if="(item.ITEM_KEY).split('|')[1] !=='900'">
                <li v-for="(it, k) in item.data" v-if="it.USE_YN === 'Y'">
                  <input type="hidden" v-model="formData.servOptnList[it.optnListNo].SERV_ITEM_ID" :value="it.SERV_ITEM_ID">
                  <input type="hidden" v-model="formData.servOptnList[it.optnListNo].TUTO_ID" :value="type.TUTO_ID || '0'">
                  <strong class="tit">{{('0' + (k+1)).slice(-2)}}. {{it.ITEM_TITLE}}</strong>
                  <ul class="check_list">
                    <li v-for="i in 5">
                      <label class="ct_check_item txt_label">
                        <input required="required" type="radio" class="ct_cb" :name="'survey'+(it.optnListNo)" :value="i+''" v-model="formData.servOptnList[it.optnListNo].ITEM_ANS"
                        />
                        <i class="ico_check ico_check_s"></i>
                        <span class="txt" v-if="i===1">전혀 그렇지 않다</span>
                        <span class="txt" v-else-if="i===2">그렇지 않다</span>
                        <span class="txt" v-else-if="i===3">보통이다</span>
                        <span class="txt" v-else-if="i===4">그렇다</span>
                        <span class="txt" v-else-if="i===5">매우 그렇다</span>
                      </label>
                    </li>
                  </ul>
                </li>
              </ol>
              <ol class="list" v-else-if="(item.ITEM_KEY).split('|')[1] ==='900'">
                <li v-for="(it, k) in item.data" v-if="it.USE_YN === 'Y'">
                  <ul>
                    <li>
                      <input type="hidden" v-model="formData.servCommList[it.commListNo].SERV_ITEM_ID" :value="it.SERV_ITEM_ID">
                      <input type="hidden" v-model="formData.servCommList[it.commListNo].TUTO_ID" value="0">
                      <strong class="tit">{{('0' + (k+1)).slice(-2)}}. {{it.ITEM_TITLE}}</strong>
                      <p class="txt">좋았던 점</p>
                      <textarea required="required" class="textarea" rows="3" placeholder="본인의 의견을 자유롭게 작성해 주시기 바랍니다. (100자 이내)" v-model="formData.servCommList[it.commListNo].ITEM_STR"
                        :name="'str'+it.commListNo"></textarea>
                    </li>
                    <li>
                      <p class="txt">개선할 점</p>
                      <textarea required="required" class="textarea" rows="3" placeholder="본인의 의견을 자유롭게 작성해 주시기 바랍니다. (100자 이내)" v-model="formData.servCommList[it.commListNo].ITEM_WEK"
                        :name="'str'+it.commListNo"></textarea>
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="btm_btns" style="position: static;" v-cloak v-if="Object.keys(arr).length>0">
          <button type="button" class="btn btn_sty01" v-ripple @click="saveEduServPart()">제출</button>
        </div>
      </div>
    </div>
    <!-- 하단고정버튼 -->

    <!-- //하단고정버튼 -->
  </div>
  <!-- //content -->
  </div>

</slide>